rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /acls/{role} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/acls/roles).data.admins.hasAny([request.auth.uid]);
    }
    match /systems/{systemId} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/acls/roles).data.editors.hasAny([request.auth.uid]);
    }
    match /paths/{pathId} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/acls/roles).data.editors.hasAny([request.auth.uid]);
    }
  }
}
