html {
    background-color: black;
    fill: cyan;
}

html text {
    stroke: none;
    fill: cyan;
    stroke-width: .5px;
    font-family: Verdana;
}

.map-anchor {
    pointer-events: all;
}

text.map-name-link,text.map-coord-link {
    text-decoration: underline;
}

path.map-hexagon {
    stroke: none;
    fill: none;
}

path.map-hexagon:hover {
    stroke: yellow;
    stroke-width: 4px;
}

.map-planet,.map-planet-link {
    fill: cyan;
}
