html {
    background-color: black;
    fill: cyan;
}

#map text {
    stroke: none;
    fill: cyan;
    stroke-width: .5px;
    font-family: Verdana;
    pointer-events: none;
}

text.map-coord,text.map-coord-link {
    font-size: 60%;
    text-anchor: middle;
}

text.map-name,text.map-name-link {
    font-size: 80%;
    text-anchor: middle;
}

text.map-name-link,text.map-coord-link {
    text-decoration: underline;
}

path.map-mesh {
    stroke: darkmagenta;
    fill: none;
}

path.map-hexagon {
    stroke: none;
    fill: none;
    pointer-events: all;
}

path.map-hexagon:hover {
    stroke: yellow;
    stroke-width: 4px;
}

.map-planet,.map-planet-link {
    fill: cyan;
    pointer-events: none;
}

path.spiny-rat {
    stroke: magenta;
}

path.spiny-rat-invis {
    stroke: none;
}
