html {
    background-color: black;
    font-family: Verdana;
    font-size: 11pt;
    margin-top: 50px;
}

h1 {
    background-color: #ccc;
    border: 1px solid white;
    margin: 0px;
    font-size: 12pt;
}

body {
    display: flex;
}

#map {
    overflow-x: auto;
}

#right-panel {
    width: 33%;
    background-color: #666;
    border: 1px solid white;
    padding: 0px;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    z-index: 100;
    border-bottom: 1px solid white;
}

#user-panel {
    margin-right: 20px;
}

#settings-icon {
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

#data {
    padding: 5px;
}

#map-contents {
    border-style: none;
}

#data-contents {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-top-width: 0px;
    color: white;
    font-family: Courier;
}

#data-contents a:visited {
    color: cyan;
}

#data-contents a:link {
    color: DeepSkyBlue;
}

#data-contents a:hover {
    color: black;
    background-color: yellow;
}

#map text {
    stroke: none;
    stroke-width: .5px;
    font-family: Verdana;
    pointer-events: none;
    fill: cyan;
}

text.map-coord,text.map-coord-link {
    font-size: 60%;
    text-anchor: middle;
}

text.map-name,text.map-name-link {
    font-size: 80%;
    text-anchor: middle;
}

text.map-name-link,text.map-coord-link {
    text-decoration: underline;
}

path.map-mesh {
    stroke: darkmagenta;
    fill: none;
}

path.map-hexagon {
    stroke: none;
    fill: none;
    pointer-events: all;
}

path.map-hexagon-hilite {
    stroke: yellow;
    stroke-width: 4px;
}

.pinned path.map-hexagon {
    stroke: yellow;
    stroke-width: 4px;
}

.map-planet,.map-planet-link {
    fill: cyan;
    pointer-events: none;
}

path.spiny-rat {
    stroke: #08f;
    fill: #08f;
}

path.spiny-rat-hilite {
    stroke: yellow;
    fill: yellow;
}

path.spiny-rat-wide {
    visibility: hidden;
    pointer-events: all;
    stroke: #08f;
    stroke-width: 10px;
}

#settings-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border: 1px solid white;
    padding: 20px;
    z-index: 100;
}

#acls-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border: 1px solid white;
    padding: 20px;
    z-index: 100;
    color: white;
}

#acls-list {
    margin-top: 20px;
}

#acls-list > div {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
}